header{
    color: blue;
    text-align: center;
    height: 25px;
  
}
main{
    text-align: center;
    margin-top: 35px;
}
.Login{
    margin-top: 100px;
    border: 1px solid black;
    width: 600px;
    height: 450px;
    text-align: center;
    margin-left: 500px;
    
}

.inputLoginName,
.inputLoginPassword {
    height: 20px;
    width: 60%;
    border-radius: 8px;
    text-align: center;
}

.createFromLogin{
    margin-top: 75px;
}
.okLogin{
    width: 100px;
    height: 35px;
    margin-top: 22px;
    background-color: green;
}